
@{
    ViewData["Title"] = "RequestFinished";
}

<head>
    <link rel="stylesheet" href="~/css/documents.css" />
</head>

<div class="container" align="center">
    <h3>Your document has been sent to your appropriate personnel.</h3>
    <h3>You can view the status of your documents in the "View Documents" section in your homepage.</h3>
    <h5>Thank you for using Mou3amalti.</h5>
</div>