
@{
    ViewData["Title"] = "DocumentsList";
}

<head>
    <link rel="stylesheet" href="~/css/users.css" />
</head>

<div class="container" align="center">
    <h1>Documents</h1>
    <br />
    <h5>Here is a list of the documents supported</h5>
</div>

<br />
<br />
<br />

<div class="container">
    <a asp-controller="DocumentRequest" asp-action="PersonalStatusRecord">Personal Status Record (Ekhraj Ked)</a>
    <hr />
    <a asp-controller="Documents" asp-action="">Identity Card</a>
    <hr />
    <a asp-controller="Documents" asp-action="">Passeport</a>
</div>
