@model IEnumerable<Mou3amalati.Models.Document>  
@{
    ViewData["Title"] = "DocumentsList";
}

<head>
    <link rel="stylesheet" href="~/css/users.css" />
</head>

<div class="container" align="center">
    <h1>Documents</h1>
    <br />
    <h5>Here is a list of the documents supported</h5>
</div>

<br />
<br />
<br />

<div class="container">
    @{
        foreach (var item in Model)
        {
            <a asp-controller="DocumentRequest" asp-action="PersonalStatusRecord" asp-route-id="@item.Id">@item.Name</a>
            <hr />
        }
    }
</div>
